name: Lint Check

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Instalar Linter
        run: |
          python -m pip install --upgrade pip
          pip install flake8

      - name: Rodar Flake8
        run: |
          # Para se houver erros de sintaxe ou nomes indefinidos
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # Avisos genéricos (estilo): trata como erro se houver problemas
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=255 --statistics --extend-ignore=W292,E731,E402,E302,C901